<ion-view title="MTG Grimoire">
  <div>
    <div>
        <div ng-controller="TransitionController">
          <div class="bar bar-header bar-royal">
          <button ng-click="goToMenu()" class="button icon-left ion-chevron-left button-clear button-dark"></button>
          <h1 class="title">MTG Grimoire</h1>
          </div>
        </div>
    </div>
        <ion-content padding="true" class="has-header">
        <div ng-controller="SearchController">
            <div class="list card">
                <div class="item item-divider">What you looking for?</div>
                <div class="item item-body">
                  <form class="list list-inset">
                    <label class="item item-input">
                      <button class="button button-small" ng-click="updateSearch()">
                        Submit
                      </button>
                      <label class="item-input-wrapper">
                        <input type="text" ng-model="search">
                      </label>
                    </label>
                  </form>          
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Card</div>
                <div class="item item-body">
                  <div ng-repeat="card in cards">
                    <button name="c-{{card.id}}" class="button button-block button-clear button-royal"
                    ng-click="goToCard('{{card.id}}')">{{card.name}}</button>
                  </div>
                </div>
            </div>
            </div>
        </ion-content>
  </div>
</ion-view>