.mtg-card {
	text-align: center;
}

.prices-low{
	background-color: #00FF00
}

.prices-median{
	background-color: #FFFF66
}

.prices-high{
	background-color: #FF3300
}

.col-offset-58{
    margin-left: 58%;
}